[submodule "PersonalCloud.Core"]
	path = PersonalCloud.Core
	url = https://github.com/Personal-Cloud/PersonalCloud.git
[submodule "PersonalCloud.Apps.Common"]
	path = PersonalCloud.Apps.Common
	url = https://github.com/Personal-Cloud/Apps.Common.git
[submodule "DokanFS"]
	path = DokanFS
	url = https://github.com/Personal-Cloud/DokanFS.git
[submodule "IpcServiceFramework"]
	path = IpcServiceFramework
	url = https://github.com/Personal-Cloud/IpcServiceFramework.git
